<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>share</key>
	<string>https://itunes.apple.com/mx/app/minimancera/id1247193502</string>
	<key>review</key>
	<string>https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?id=1247193502&amp;type=Purple+Software&amp;mt=8</string>
	<key>email</key>
	<string>mailto:minimancera@iturbi.de</string>
</dict>
</plist>
